.container {
  display: flex;
  flex-direction: row;
}
.inputBox {
  height: 50px;
  display: flex;
  flex-direction: column;
}
/* label */
.inputBox label {
  position: relative;
  top: 45%;
  left: 4%;
  color: #cacaca;
  font-size: 12px;
  z-index: 1;
  transition: all 0.3s ease;
}
.inputBox label.focused {
  top: 30%;
  font-size: 10px;
}
/* input */
.inputBox input {
  position: relative;
  border: 1px solid #cacaca;
  border-radius: 3px;
  width: 14vw;
  min-height: 3.2vh;
  padding-left: 10px;
}
.inputBox input:focus {
  border: none;
  outline: 1px solid #828282;
}
/* error & access icons */
.inputBox img {
  position: relative;
  bottom: 52%;
  left: 90%;
  width: 20px !important;
  height: 20px;
  visibility: visible;
}
.inputBox img.hidden {
  visibility: hidden;
}
