.wrapper {
  width: 100dvw;
  height: calc(100dvh - 6vh);
  overflow: hidden;
}
.formContainer {
  position: absolute;
  top: 0%;
  left: 38%;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
